{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Quote</h1>
    <br>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <form action="/quote" method="get">
        <table class="table">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Current Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ symbol }}
                    </td>
                    <td>
                        {{ price }}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
